<!-- <div class="container mt-3">
  <h1 class="text-primary"> Chat Application</h1>
  <div *ngFor="let message of messageList">
    <li>
        <p>
          {{message}}
        </p>
    </li>  
  </div>
  <input  id="inputbtn" class="form-control" [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" /><br>
  <button (click)="sendMessage()" class="btn btn-info mt-4">Send Message</button>
</div> -->

<div class="container">
  <div class="chat-box">
    <!-- client -->
    <div class="client">
      <h2>Simple Chat App</h2>
    </div>
    <!-- Main Chat Section -->
    <div class="chats" *ngFor="let message of messageList">
      <div *ngIf="message.message">
        <div   *ngIf="chatService.socketID === message.senderId" class="my-chat">{{message.message}}</div>
        <div    *ngIf="chatService.socketID !== message.senderId"  class="client-chat">{{message.message}}</div>
      </div>
    </div>
    <!-- Input Field -->
    <div class="chat-input">
      <input type="text"  [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" placeholder="Enter Message">
      <button (click)="sendMessage()" id="send-btn" class="btn btn-info">
        Send
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
